{% extends "lpe/master.twig" %} {# ----------------------------------------------------------- #} {% block titulo %}Antedecentes{% endblock %} {% block body %}
<div class="container" style=" ">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
            <h1><strong>
             INSTANCIAS DE PARTICIPACIÓN
                </strong></h1>
             <p class="lead">
El Ministerio de Educación se encuentra desarrollando instancias participativas que constituyen un valioso inicio en la camino de construcción de esta Ley Provincial de Educación.
             </p>
             <ul class="list-group">
                <li class="list-group-item">
                    <i class="zmdi zmdi-check zmdi-hc-fw zmdi-hc-lg"></i> 600 niñas y niños participaron de instancias de debate
                </li>
                <li class="list-group-item">
                    <i class="zmdi zmdi-check zmdi-hc-fw zmdi-hc-lg"></i> 500 jóvenes y adolescentes pertenecientes a instituciones barriales, escuelas y centros de estudiantes hicieron sus aportes en un encuentro de la Juventud realizado en Rosario.
                </li>
                <li class="list-group-item">
                    <i class="zmdi zmdi-check zmdi-hc-fw zmdi-hc-lg"></i> 1.000 encuestas a familiares de estudiantes de educación inicial, primaria y secundaria. 
                </li>
                <li class="list-group-item">
                <i class="zmdi zmdi-check zmdi-hc-fw zmdi-hc-lg"></i> 5 encuentro con especialistas nacionales e internacionales.
                </li>
                <li class="list-group-item">
                <i class="zmdi zmdi-check zmdi-hc-fw zmdi-hc-lg"></i> 70 mil docentes debatieron en el marco de Escuela Abierta
                </li>
                <li class="list-group-item">
                <i class="zmdi zmdi-check zmdi-hc-fw zmdi-hc-lg"></i> 5 foros/mesas de diálogo con autoridades de gobiernos locales.   
                </li>
            </ul>
        </div>
    </div>
</div>
{% include 'lpe/contenido/opinion/ver.twig' %}

{% endblock body %} {# -------------------------------------------- #} {% block scripts %}
<script>
</script> {% endblock scripts %}