{% extends "lpe/master.twig" %} {# ----------------------------------------------------------- #} {% block titulo %}Propuesta{% endblock %} {% block body %}
<div class="container" style=" ">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
            <h1><strong>
             FUNDAMENTOS
                </strong></h1>
             <p class="lead">
Estamos convencidos que los árboles y sus servicios ambientales son estratégicos para  defender el derecho de la población a vivir en un ambiente sano, respetando  los derechos de la naturaleza y esta política pública va a jerarquizarlos.
             </p>
             <p class="lead">
Avanzamos hacia un cambio de paradigma acerca de cómo el Estado Provincial enfrenta la crisis ambiental, queremos un Estado activo para prevenir y mitigar los efectos nocivos del cambio climático. Apostamos a un “buen vivir” que haga posible la protección de la naturaleza y la convivencia entre los seres humanos.
             </p>
             <p class="lead">
Este proyecto de ley para el Árbol, se trata de un propuesta innovadora, que considera al árbol como servicio público ambiental y promueve la implantación de nuevos ejemplares tanto en ámbitos públicos como en privados. Que pretende además, establecer y ampliar los corredores biológicos, crear un registro de árboles distinguidos y llevar a cabo un censo a nivel provincial de todo el material arbóreo.
             </p>
             <p class="lead">
Se establecen mínimos porcentajes a forestar por parte de los privados entendiendo que los desafíos que implica el calentamiento global deben ser asumidos por todos. Por eso, desde el Estado Provincial, asumimos un fuerte compromiso para el cumplimiento de la ley, creando el fondo santafesino de arbolado para solventar los requerimientos del Sector público y privado.
             </p>
              <p class="lead"><a id="linkVerMas" href="javascript:void(0)">Ver mas <i class="fa fa-plus fa-fw"></i></a></p>
              <div id="mas" class="text-justify" style="display:none;style=font-size: 14px; line-height: 21px;">
<hr>
<p><b><span class="text-info">“Todos los habitantes gozan del derecho a un ambiente sano, equilibrado y apto para el desarrollo humano”</span></b>, como lo preceptúa nuestra Constitución Nacional en el artículo 41. Para alcanzar dicho cometido es necesario llevar a cabo políticas de Estado
    con miras a garantizar un ambiente apto, por lo que contar con una legislación que se adelante o anticipe a los hechos que vendrán es necesario.</p>
<p>Conocidos y comprobados son los múltiples <b><span class="text-info">beneficios</span></b> de los árboles, tanto por sus propiedades naturales como por las condiciones ambientales que aportan en los espacios en que se encuentran: son purificadores del aire, moderadores de temperaturas, proveedores
    de sombra y oxigenación aún rodeados de cemento, son albergues para la fauna, absorben ruidos ambientales, constituyen barreras para vientos, funcionan como sitios amables para especies de pájaros e insectos, entre otras características sustanciales.</p>
<p>El cambio climático es el problema ambiental más grave a nivel global desde hace décadas, trastoca las condiciones de vida, como la alimentación, los sistemas productivos, la actividad económica en general, entre otros. A su vez, ha producido alteraciones
    importantes en los ecosistemas a escala internacional.</p>
<p>Nuestra Provincia ha sufrido este año fuertes precipitaciones por el fenómeno conocido como “El Niño”, que se ha acrecentado por influencia del cambio climático y ha producido graves perjuicios a las economías regionales, a los productores y a las comunicaciones,
    causando anegaciones en caminos, desbordes de cauces de agua, dejando así localidades aisladas, en definitiva, provocando severos daños sociales y económicos en toda la geografía provincial.</p>
<p>Este tipo de evento climático, que resulta una constante en el marco del calentamiento global, no sólo debe afrontarse con los regímenes tradicionales, sea la declaración de emergencia y desastre agropecuario, o ayudas directas de recursos de diversa
    índole a los damnificados. Las asistencias coyunturales para mitigar los efectos inmediatos siempre son una obligación gubernamental, pero también resulta impostergable, comenzar a adoptar medidas estructurales que contribuyan a mitigar estos grandes
    desastres, y fortalezcan la capacidad de acción de respuesta estatal.</p>
<p>
Todos los habitantes gozan del derecho a un ambiente sano, equilibrado y apto para el desarrollo humano como lo preceptúa nuestra Constitución Nacional en el artículo 41. Para alcanzar dicho cometido es necesario llevar a cabo políticas de Estado con
miras a garantizar un ambiente apto, por lo que contar con una legislación que se adelante o anticipe a los hechos que vendrán es necesario.  Es por eso que estamos presentando este ambicioso proyecto de Ley que se plantea como una iniciativa innovadora
en la temática, considerando al árbol como servicio público ambiental y promoviendo la implantación de nuevos ejemplares tanto en el ámbito público como en el privado.
</p>
<p>Es por eso que estamos presentando este ambicioso proyecto de Ley que se plantea como una iniciativa innovadora en la temática, considerando al árbol como servicio público ambiental y promoviendo la implantación de nuevos ejemplares tanto en el ámbito público como en el privado.</p>

<p>Conocidos y comprobados son los <b><span class="text-info">múltiples beneficios</span></b> de los árboles, tanto por sus propiedades naturales como por las condiciones ambientales que aportan en los espacios en que se encuentran.</p>

<p>Entre ellos podemos destacar que: son purificadores del aire, moderadores de temperaturas, proveedores de sombra y oxigenación aún rodeados de cemento, son albergues para la fauna, absorben ruidos ambientales, constituyen barreras para vientos, funcionan como sitios amables para especies de pájaros e insectos, entre otras características sustanciales.</p>

<p>El <b><span class="text-info">cambio climático</span></b> es el problema ambiental más grave a nivel global desde hace décadas, trastoca las condiciones de vida, como la alimentación, los sistemas productivos, la actividad económica en general, entre otros. A su vez, ha producido alteraciones importantes en los ecosistemas a escala internacional.</p>

<p><b><span class="text-info">Nuestra Provincia</span></b> ha sufrido este año fuertes precipitaciones por el fenómeno conocido como “El Niño”, que se ha acrecentado por influencia del cambio climático y ha producido graves perjuicios a las economías regionales, a los productores y a las comunicaciones, causando anegaciones en caminos, desbordes de cauces de agua, dejando así localidades aisladas, en definitiva, provocando severos daños sociales y económicos en toda la geografía provincial.</p>

<p>Este tipo de evento climático, que resulta una constante en el marco del calentamiento global, no sólo debe afrontarse con los regímenes tradicionales, sea la declaración de emergencia y desastre agropecuario, o ayudas directas de recursos de diversa índole a los damnificados. Las asistencias coyunturales para mitigar los efectos inmediatos siempre son una obligación gubernamental, pero también resulta impostergable, comenzar a adoptar medidas estructurales que contribuyan a mitigar estos grandes desastres, y fortalezcan la capacidad de acción de respuesta estatal.</p>
 
<p>El Congreso de la Nación, ya en el año 2007, sancionó la Ley de Presupuestos Mínimos de Protección Ambiental de los Boques Nativos Nº 26.331, reconociendo el valor de los mismos en los ecosistemas del país. Basada en promover la gestión forestal sustentable; dicha normativa reconoció los servicios ambientales que brindan los bosques y se constituyó en una herramienta fundamental que necesita de una activa política por parte de las provincias para lograr un efectivo cumplimiento.</p>

<p>Según <b><span class="text-info">Antonio Brailovsky</span></b> -2016-, “una de las funciones de los bosques, sobre todo en los márgenes de ríos y arroyos y en sus cabeceras, es retener el agua y soltarla lentamente en caso de exceso. Por eso la ley de bosques plantea la protección de las cabeceras de los arroyos”. Resulta necesaria una efectiva implementación de la Ley de Bosques por parte del Estado Nacional, con la asignación presupuestaria correspondiente para hacer frente a los desafíos que genera el cambio climático.</p>

<p>Los árboles desempeñan un papel de importancia en la disminución del escurrimiento hídrico superficial y el abatimiento de los picos de crecida, tal como lo expresa Sanders -1986-: “Al interceptar y retener o disminuir el flujo de la precipitación pluvial que llega al suelo, los árboles urbanos (conjuntamente con los suelos), pueden jugar una importante función en los procesos hidrológicos urbanos. Pueden reducir la velocidad y volumen de la escorrentía de una tormenta, los daños por inundaciones, los costos de tratamiento de agua de lluvia y los problemas de calidad del agua”.</p>

<p>Los especialistas destacan la importancia de plantar árboles como estrategia ante inundaciones y suelos impermeables:“La cubierta arbórea debe ser incrementada en donde es relativamente baja y en donde hay extensas superficies de suelo impermeables; que tienen una capacidad limitada para manejar los picos de agua durante la tormenta”(Sanders, 1986).“La cubierta arbórea intercepta la lluvia y permite fluir algo del agua por el tronco hacia el suelo, mientras el resto se evapora antes que alcance la superficie” (Miller, 1997).</p>

<p>El árbol es, entonces, un aliado necesario e indispensable para planificar y construir pueblos y ciudades más sustentables y equilibradas con miras a garantizar el desarrollo de la vida urbana junto al derecho de disfrutar de un ambiente sano y saludable.</p>

<p>Las áreas urbanas arborizadas mejoran la temperatura del aire mediante el control de la radiación solar. Las hojas de los árboles la interceptan, reflejan, absorben y transmiten, según la estación: en verano interceptan y bajan la temperatura, mientras que en el invierno la pérdida de sus hojas produce un calentamiento porque incrementa el paso de la radiación solar. Los árboles modifican el clima disminuyendo el efecto invernadero, por eso, han sido llamados acondicionadores naturales del aire; un solo árbol puede transpirar aproximadamente 400 litros de agua al día.</p>

<p>Asimismo, su rol intrínseco a la protección de la diversidad biológica se ha acrecentado en los últimos años. Sobre todo, por la preocupación creciente sobre la pérdida de especies en áreas rurales, la expansión urbana, los modelos productivos y/o los fenómenos acontecidos por el cambio climático que atentan contra los ecosistemas naturales.</p>

<p>Las grandes inundaciones o sequías, los repetidos disturbios ocasionados a los árboles, por distintos factores, hasta las influencias humanas; han despertado mayor conciencia ambiental, siendo más palpable en las generaciones más jóvenes.</p>

<p>En este contexto, los <b><span class="text-info">servicios ambientales</span></b> que generan los árboles en general y el arbolado público en particular se vuelven sustanciales, objeto de políticas públicas y, por ende, de interés general. Una herramienta jurídica provincial resulta indispensable para empezar a coordinar esfuerzos.</p>
                          	
<p><b><span class="text-info">El abordaje normativo del ambiente</span></b>, hace años se realizaba a través de la regulación de los recursos naturales, por ejemplo, individualmente se legislaba sobre el recurso suelo, agua, flora. Es decir, las leyes o códigos trataban estos bienes jurídicos individualmente, y no se trataba al ambiente en su dimensión global. Actualmente el ambiente es todo ello, pero se agregan otras dimensiones, como la humana, el paisaje, lo estético, lo cultural. Resulta mucho más amplio de lo que se estima.</p>

<p>El <b><span class="text-info">derecho al ambiente</span></b> es un derecho de tercera generación, tutela intereses difusos supraindividuales, porque pertenecen a la comunidad en su conjunto y no tienen por finalidad tutelar al sujeto individual sino un interés general e indeterminado en cuanto a su individuo. En consecuencia, cualquier actividad que involucra el ejercicio de los derechos individuales (como el derecho de propiedad, ejercer la industria, el comercio y cualquier actividad lícita) debe ser compatible con los derechos colectivos, por lo tanto no deben afectar la tarea ni la sustentabilidad de los ecosistemas de la flora, fauna, biodiversidad, agua, valores culturales y el paisaje, entre otros.</p>

<p>En la Provincia de Santa Fe existen <b><span class="text-info">normativas</span></b> importantes en materia ambiental, desde la más estructural y rectora, la Ley Provincial Nº 11.717 de Medio Ambiente y Desarrollo Sustentable, y la Ley Provincial Nº 13.372, de Ordenamiento de Bosques Nativos.</p>

<p>En lo que refiere a arbolado estrictamente, lo regula la Ley Nº 9.004 que data del año 1982, y su Decreto Reglamentario Nº 0763/1983; que si bien representó un avance en ese momento para que muchas Municipalidades y Comunas de toda la Provincia empiecen a ocuparse de los espacios verdes con mayor interés, en la actualidad resulta insuficiente en relación al reto ambiental.</p>

<p>También contamos con normativas específicas que refieren a la acreditación de arbolado obligatorio, como las exigencias de Evaluación de Impacto Ambiental en desarrollos urbanísticos -Resolución Nº 292/2013 de la Secretaría de Medio Ambiente-. Asimismo, la Resolución Nº 0177/2003 referida al almacenamiento de granos, y la Resolución Nº 0023/2009, que regula los feedlots. Por ello la Ley establece que aquellas actividades que ejerzan presión sobre el ambiente tengan una cortina forestal como requisito de habilitación. De esta manera, se otorga jerarquía legal a las disposiciones que actualmente ya se encuentran reguladas por las Resoluciones citadas. Y, además, se incorporan todas las actividades, con la misma exigencia de forestación obligatoria.</p>
         	             	
<p>Además, en nuestra Provincia existen normativas superpuestas respecto al uso de las banquinas –Resolución N° 508/2012 a través de la cual se establece el uso autorizado en la zona contigua a las banquinas; y la Resolución Conjunta Interministerial N° 136/2011, que prohíbe el uso de las mismas para fines agrícolas-. En el proyecto de ley se unifica y establece el criterio de promoción de corredores biológicos en los márgenes de rutas, actualizando de esta manera los diferentes abordajes normativos en vigencia y fijando por ley la prohibición del uso agrícola de las banquinas. Por otro lado, se establece la exigencia de un protocolo de actuación que oriente las intervenciones pertinentes para lograr el cometido.</p>	

<p>Si bien existen antecedentes que orientan un camino proteccionista, creemos necesario dar un paso más en la política ambiental de nuestra Provincia, bajo la perspectiva del Principio de Prevención y Precautorio. Esto significa, atender en forma prioritaria e integrada las causas y fuentes de los problemas ambientales, a los fines de prevenir los efectos negativos que sobre el ambiente se pueden producir, independientemente de que exista certeza científica sobre el futuro daño ambiental.</p>

<p>Lograr el incremento del patrimonio arbóreo, su conservación, reposición, recuperación y la generación de mayores respuestas a largo plazo ante las incertidumbres climáticas y retos ambientales; es una meta que nos compete a todos, organismos públicos y privados, individuos y comunidades.</p>

<p>La solución a esta problemática, que como bien señalamos es una tarea de todos, implica analizar a la luz de la concepción social del derecho de propiedad su interrelación con el derecho a un medio ambiente sano y equilibrado.</p>

<p>El <b><span class="text-info">derecho de propiedad</span></b> ha sido jurídicamente reconocido y fuertemente protegido a lo largo de la historia de la humanidad, encontrando sus orígenes en el derecho romano, en la Carta Magna Inglesa de 1215 y en el Código napoleónico.</p>

<p>Sin embargo, la concepción clásica que se tenia del derecho de propiedad, absoluto e inviolable, proveniente del liberalismo y el iluminismo, ha mutado, sin perjuicio de que la letra del artículo 17 de la Constitución Nacional se mantiene incólume desde 1853.</p>

<p>El Pacto de San José de Costa Rica, con jerarquía constitucional desde 1994 en el articulo 75 inciso 22 de nuestra Constitución Nacional, incorpora la función social de la propiedad, en el articulo 21 inciso primero al establecer que: “Toda persona tiene derecho al uso y goce de sus bienes. La ley puede subordinar tal uso y goce al interés social.” Por lo que el derecho de propiedad debe articularse tanto en el interés de su titular como en el interés de la sociedad, de manera que no pueda ejercerse este derecho de forma egoísta y en perjuicio del interés social.</p>

<p>Por lo que consideramos que la propiedad privada y la contribución a la consecución del bien común están entrelazadas, al establecerse la propiedad privada en función social.</p>

<p>En este mismo sentido, la <b><span class="text-info">Corte Suprema de Justicia de la Nación</span></b>, en reiteradas ocasiones y desde antaño, ha establecido que “Ni el derecho de usar y disponer de la propiedad, ni ningún otro derecho reconocido por la Constitución, reviste el carácter de absoluto. Un derecho ilimitado sería una concepción antisocial. La reglamentación o limitación del ejercicio de los derechos individuales es una necesidad derivada de la convivencia social. Reglamentar un derecho es limitarlo, es hacerlo compatible con el derecho de los demás dentro de la comunidad y con los intereses superiores de esta última. La misma Constitución ha consignado limitaciones especiales respecto de algunos derechos; pero no siendo posible prever ni establecer en ella todas las condiciones a que sería menester subordinarlos para hacerlos adaptables a la vida de relación, ha confiado al poder legislativo la misión de reglamentar su ejercicio, poniendo al mismo tiempo un límite a esa facultad reguladora (arts. 14 y 28).” Fallo Ercolano, Agustín c. Lanteri de Renshaw, Julieta</p>

<p>Por lo tanto, las restricciones al dominio privado en los establecimientos rurales que fijamos en el artículo 21, con la imposición de mínimos porcentajes a forestar, se establecen compatibilizando el interés general con el particular, es progresiva al establecerse plazos y es razonable con el objetivo que la ley busca en pos de generar un medio ambiente más sustentable.</p>

<p>También es importante destacar que el actual <b><span class="text-info">código civil y comercial</span></b> de la Nación establece en su artículo 240 límites al ejercicio de los derechos individuales sobre los bienes, al considerar que: “El ejercicio de los derechos individuales sobre los bienes mencionados en las Secciones 1ª y 2ª debe ser compatible con los derechos de incidencia colectiva. Debe conformarse a las normas del derecho administrativo nacional y local dictadas en el interés público y no debe afectar el funcionamiento ni la sustentabilidad de los ecosistemas de la flora, la fauna, la biodiversidad, el agua, los valores culturales, el paisaje, entre otros, según los criterios previstos en la ley especial.” Además, en su artículo 241 al referirse a la jurisdicción establece que: “Cualquiera sea la jurisdicción en que se ejerzan los derechos, debe respetarse la normativa sobre presupuestos mínimos que resulte aplicable.” Por lo que la normativa supraconstitucional antes expresada va en consonancia con lo que expresa nuestro nuevo código de fondo.</p>

<p>Por último, no es menor que nuestra <b><span class="text-info">Constitución Provincial</span></b> prevé la función social de la propiedad y limitaciones al desarrollo individual fundados en el interés general en su artículo 15, al establecer que: “la propiedad privada es inviolable y solamente puede ser limitada con el fin que cumpla una función social... la iniciativa económica de los individuos es libre. Sin embargo, no puede desarrollarse en pugna con la utilidad social o con mengua de la seguridad, libertad, o dignidad humana. En este sentido, la ley puede limitarla con medidas que encuadren en la potestad de gobierno local. Ninguna prestación patrimonial puede ser impuesta sino conforme a la Ley.” Y en su artículo 16 agrega que: “El individuo tiene deberes hacia la comunidad. En el ejercicio de sus derechos y en el disfrute de sus libertades puede quedar sometido a las limitaciones, establecidas por la ley exclusivamente, necesarias para asegurar el respeto de los derechos y libertades ajenas y satisfacer las justas exigencias de la moral y el orden público y del bienestar general”.</p>

<p>De esta forma promovemos un Estado Provincial activo, con un fuerte compromiso de todos los actores intervinientes, coordinando acciones para que el espacio público, el uso del suelo, la implantación y mantenimiento de árboles se efectúe de manera planificada.</p>
	
<p>El presente proyecto es un marco legal que se estructura en ocho capítulos, planteando una regulación en materia de arbolado, bajo una fuerte convicción de conservar e incrementar la biodiversidad biológica y el equilibrio territorial.</p>
</div>
        </div>
    </div>
</div>

{% endblock body %} {# -------------------------------------------- #} {% block scripts %}
<script>

    $("#linkVerMas").click(function(e) {
        $('#mas').toggle(200);
        $('#linkVerMas').hide();
    });

</script>{% endblock scripts %}