{% extends "lpe/master.twig" %} {# ----------------------------------------------------------- #} {% block titulo %}Propuesta{% endblock %} {% block body %}
<div class="container" style=" ">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
            <h1><strong>
             HISTORIA
                </strong></h1>
             <p class="lead">
En el año 1935 se realizó un Inventario Forestal Nacional. En ese momento se determinó que la Provincia contaba con  5.900.000 hectáreas de bosques no insular.
             </p>
             <p class="lead">
El relevamiento realizado en 2008 a raíz de la adhesión a la ley Nacional de Presupuestos mínimos de Bosque Nativo nos da cuenta de la existencia de alrededor de 1.500.000 ha.
             </p>
             <p class="lead">
                 En aproximadamente 80 años se perdieron algo más de 4.000.000 de hectáreas cubiertas de masa forestal.
             </p>
        </div>
    </div>
</div>

{% endblock body %} {# -------------------------------------------- #} {% block scripts %}
<script>
</script> {% endblock scripts %}