{% extends "lpe/master.twig" %} {# ----------------------------------------------------------- #} {% block titulo %}Como participo{% endblock %} {% block body %}
<div class="container" style=" ">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 text-justify">
            <h1><strong>
             CÓMO PARTICIPAR
                </strong></h1>
                <div class="alert alert-info">
  <p class="lead">
Te invitamos a conocer el proyecto de ley y a que hagas tu aporte de manera directa o a través de la organización de la que formes parte.
             </p>
</div>
             <p class="lead">
<i class="zmdi zmdi-info zmdi-hc-fw zmdi-hc-lg text-primary"></i> En la página principal encontrarás 8 destacados; cada uno representa un capítulo de la Ley con sus respectivos artículos: Hacé click y conocelos!
             </p>
     <ol>
  <li class="lead text-info">Servicio Público Ambiental</li>
  <li class="lead text-info">El Árbolado Público</li>
  <li class="lead text-info">El Árbolado: un compromiso de todos</li>
  <li class="lead text-info">Plazos</li>
  <li class="lead text-info">Autoridad de Aplicación</li>
  <li class="lead text-info">Excepciones</li>
  <li class="lead text-info">Fondo Santafesino del Arbolado</li>
  <li class="lead text-info">Sanciones</li>
</ol>
 <p class="lead">
<i class="zmdi zmdi-info zmdi-hc-fw zmdi-hc-lg text-primary"></i> Dentro de cada capítulo se encuentran los artículos de la ley correspondientes al mismo. Bajo cada artículo podés darnos tu opinión si el tema te parece...
             </p>
                  <div class="btn-group btn-group-justified btn-group" style="margin-top: 15px;margin-bottom: 30px;">
<a href="javascript:void(0)" class="btn btn-default">Muy importante</a>
                            <a href="javascript:void(0)" class="btn btn-default">Importante</a>
                            <a href="javascript:void(0)" class="btn btn-default">Poco importante</a>
                  </div>
                  <p class="lead">
Podes cambiar tu voto cuando quieras. Tu voto aparecerá de la siguiente forma...             
</p>
                  <div class="btn-group btn-group-justified btn-group" style="margin-top: 15px;margin-bottom: 30px;">
<a href="javascript:void(0)" class="btn btn-primary disabled">Muy importante</a>
                            <a href="javascript:void(0)" class="btn btn-default">Importante</a>
                            <a href="javascript:void(0)" class="btn btn-default">Poco importante</a>
                  </div>
              <p class="lead">
<i class="zmdi zmdi-info zmdi-hc-fw zmdi-hc-lg text-primary"></i> Tambien tendrás la posibilidad de hacernos alguna sugerencia o comentario haciendo clic en el botón de "Participar"
             </p>
             <div class="text-center">
                 <a href="javascript:void(0)" class="btn btn-info" style="margin-top: 15px;margin-bottom: 30px;">Participá <i class="zmdi zmdi-comments zmdi-hc-lg zmdi-hc-fw"></i> 13</a>
             </div>
        </div>
    </div>
</div>

{% endblock body %} {# -------------------------------------------- #} {% block scripts %}
<script>
</script> {% endblock scripts %}