<div class="col-xs-12 col-sm-3">
    <div class="list-group">
        <a href="{{ urlFor('shwModifUsuario') }}" class="list-group-item {{paginaAdmin == 1 ? 'active':''}}">Modificar Datos</a>
        <a href="{{ urlFor('shwModifClvUsuario') }}" class="list-group-item {{paginaAdmin == 2 ? 'active':''}}">Cambiar Contraseña</a>
    </div>
</div>