Solicitaste reiniciar tu contraseña ingresá al siguiente enlace: 
<a href="{{ baseUrl() }}{{ urlFor('shwReiniciarClave',{'idUsu': id,'token': token}) }}">
{{ baseUrl() }}{{ urlFor('shwReiniciarClave',{'idUsu': id,'token': token}) }}
</a>