Bienvenido a “Santa Fe construye Educación y Futuro. Diálogos para la Ley Provincial de Educación”. 
Ingresá a este link para confirmar tu email 
<a href="{{ baseUrl() }}{{ urlFor('runValidUsuario',{'idUsu': id,'token': token}) }}">
{{ baseUrl() }}{{ urlFor('runValidUsuario',{'idUsu': id,'token': token}) }}
</a>