{% extends "lpe/master.twig" %} 
{# ----------------------------------------------------------- #} 
{% block titulo %}Login{% endblock %} 
{% block body %}

<div class="container">
	<div class="row">
		<div class="panel-inicio col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 ">
			<h2><strong>INICIAR SESION</strong></h2>
			<p>Inicie sesion para poder participar</p>
			<div class="well well-lg">
				<form action="{{ urlFor('runLogin') }}" method="POST" class="form-horizontal">
					<fieldset>
						<div class="form-group">
							<label for="inputEmail" class="col-md-2 control-label">Email</label>
							<div class="col-md-10">
								<input name="email" type="email" placeholder="Escriba aquí su email" id="inputEmail" class="form-control" required>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-md-2 control-label">Contraseña</label>
							<div class="col-md-10">
								<input name="password" type="password" placeholder="Escriba aquí su contraseña" id="inputPassword" class="form-control" required>
							</div>
						</div>
					</fieldset>
				<div class="text-center">
					<a href="#" class="btn btn-link">Volver</a>
					<button type="submit" class="btn btn-primary">Entrar <i class="mdi mdi-login-variant"></i></button>
				</div>
				</form>
				<div class="text-right">
					<a href="{{urlFor('shwCrearUsuario')}}">Registrarse</a>
					<br>
					<a id="verRecuperar" href="javascript:void(0)">¿Olvido su usuario y contraseña?</a>
				</div>
			</div>
		</div>
		<div class="panel-recuperar col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" style="display:none;">
			<h2><strong>Recuperar contraseña</strong></h2>
			<p>Te enviaremos un link de recuperación por email.<br>Revisá tu casilla y seguí los pasos.</p>
			<div class="well well-lg">
				<form action="{{ urlFor('runRecuperarClave') }}" method="POST" class="form-horizontal">
					<fieldset>
						<div class="form-group">
							<label for="inputEmail" class="col-md-2 control-label">Email</label>
							<div class="col-md-10">
								<input name="email" type="email" placeholder="Escriba aquí su email" id="inputEmail" class="form-control" required>
							</div>
						</div>
					</fieldset>
				<div class="text-center">
					<button type="submit" class="btn btn-primary">Recuperar mi contraseña</button>
					<br>
					<a id="volverInicio" href="javascript:void(0)">Iniciar sesión</a>
				</div>
				</form>
				<div class="text-right">
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %} 
{# ----------------------------------------------------------- #} 
{% block scripts %}
<script>
    $( document ).ready(function() {
        $( "#volverInicio" ).click(function() {
          $( ".panel-recuperar" ).hide("slide" );
          $( ".panel-inicio" ).show("slide" );
        });
        $( "#verRecuperar" ).click(function() {
          $( ".panel-inicio" ).hide("slide" );
                $( ".panel-recuperar" ).show("slide" );
        });
    });
</script>
{% endblock %}
