{% extends "ref/side-master.twig" %} {# ----------------------------------------------------------- #} {% block titulo %}Estadisticas{% endblock %} {% block body %}
<div class="container-fluid" style=" ">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-lg-8">
                <h2>Estadisticas
                </h2>
                <hr>
            <table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Dato</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Usuarios Registrados</td>
      <td>{{ usuarios }}</td>
    </tr>
  </tbody>
</table> 
        </div>
    </div>
</div>

{% endblock body %} {# -------------------------------------------- #} {% block scripts %}
{% endblock scripts %}