{% extends "lpe/master.twig" %} {# ----------------------------------------------------------- #} {% block titulo %}Exportar{% endblock %} {% block body %}
<div class="container" style=" ">
    <div class="row">
        {% set paginaAdmin = 7 %} {% include '/lpe/admin/listaSecciones.twig' %}
        <div class="col-xs-12 col-sm-9">
            <div class="text-center">
                <h2 class="text-center"><strong>Exportar</strong>
                </h2>
                <br>
            </div>
            <table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th colspan="2">Elemento</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Listado de emails de usuarios</td>
      <td class="text-center"><a href="{{ urlFor('shwEmails') }}" class="btn btn-link btn-xs">Descargar<i class="fa fa-download fa-fw"></i></a></td>
    </tr>
    {% for i in 1..8 %}
      <tr>
        <td>Comentarios en capítulo {{ i }}</td>
        <td class="text-center"><a href="{{ urlFor('shwComments', {'idDer': i}) }}" class="btn btn-link btn-xs">Descargar<i class="fa fa-download fa-fw"></i></a></td>
      </tr>
    {% endfor %}
  </tbody>
</table> 
        </div>
    </div>
</div>

{% endblock body %} {# -------------------------------------------- #} {% block scripts %}
{% endblock scripts %}