{% extends "ref/side-master.twig" %}

{# ----------------------------------------------------------- #} {% block titulo %}Administración{% endblock %} {% block body %}
<div class="container-fluid" style="">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-lg-8">
                <div class="well">
                Seleccione del menú para realizar ajustes.
                </div>
                
        </div>
    </div>
</div>

{% endblock body %} {# -------------------------------------------- #} {% block scripts %}
{% endblock scripts %}