{% extends "lpe/master.twig" %}
 {% block linkhead %}
<link rel="stylesheet" href="{{ baseUrl() }}/assets-lpe/css/sceditor/sceditor-main.css"> {% endblock %}
{# ----------------------------------------------------------- #} {% block titulo %}Administración{% endblock %} {% block body %}
<div class="container" style=" ">
    <div class="row">
        {% set paginaAdmin = 1 %} {% include '/lpe/admin/listaSecciones.twig' %}
        <div class="col-xs-12 col-sm-9">
            <div class="text-center">
                <h4><strong>Seleccione del menú para realizar ajustes.</strong></h4>
                <br>
            </div>
        </div>
    </div>
</div>

{% endblock body %} {# -------------------------------------------- #} {% block scripts %}
{% endblock scripts %}