{% extends "lpe/master.twig" %} {# ----------------------------------------------------------- #} {% block titulo %}Inicio{% endblock %} {% block body %}
<div class="container" style=" ">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h5>Error</h5>
        </div>
    </div>
</div>

{% endblock body %} {# -------------------------------------------- #} {% block scripts %}
<script>
    $(document).ready(function() {
        $(':file').on('fileselect', function(event, numFiles, label) {
            var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles + ' files selected' : label;
            if (numFiles > 1 || numFiles == 0) {
                alert('Por favor, seleccione solo 1 archivo');
            } else if (numFiles == 1) {
                input.val(log);
            }
        });

    });

    $(document).on('change', ':file', function() {
        var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
    });

    function copyToClipboard(text) {
        window.prompt("Copie haciendo: Ctrl+C, Enter", text);
    }
</script> {% endblock scripts %}