{% extends "lpe/master.twig" %} {# ----------------------------------------------------------- #} {% block titulo %}Inicio{%
endblock %} {% block body %}
<div class="container" style="margin-bottom:40px">
    <div class="row">
        <div class="col-xs-12 text-center">
            <a href="#" class="btn btn-warning"><i class="zmdi zmdi-edit zmdi-hc-lg"></i> Editar pagina</a>
            <h1><strong>Nueva Ley de Educacion Provincial</strong></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio asperiores optio soluta, eos, impedit quia
                atque repellendus maiores deserunt aperiam et consequuntur minima dolor id, earum dolorem ab iusto nobis.</p>
            <a href="#derechos" class="btn btn-primary btn-lg">Comenzar a participar</a>
        </div>
    </div>
</div>


<div class="" style="background-image: url('https://unsplash.it/1200/400/?random'); background-size:cover;margin-bottom:40px;">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
                        <div class="embed-responsive embed-responsive-16by9" style="margin: 80px 0;">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RcmfJGyd-ak" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
                        <div class="embed-responsive embed-responsive-16by9" style="margin: 80px 0;">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RcmfJGyd-ak" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
                        <div class="embed-responsive embed-responsive-16by9" style="margin: 80px 0;">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RcmfJGyd-ak" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
                        <div class="embed-responsive embed-responsive-16by9" style="margin: 80px 0;">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RcmfJGyd-ak" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!--<div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
            <div class="embed-responsive embed-responsive-16by9" style="">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RcmfJGyd-ak" frameborder="0" allowfullscreen></iframe>
                </div>
        </div>
    </div>-->

</div>

<div id="derechos" class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="text-center">
                <h2><b>Los derechos a debatir</b></h2>
                <hr>
            </div>
            <div class="grid">
                <div class="grid-sizer"></div>
                {% for derecho in derechos %}
                <a href="{{ urlFor('shwDocumen') urlFor('shwDerecho', {'idDer': derecho.contenible_id}) }}">
                    <div class="grid-item">
                        <figure class="cap-bot">
                            <div class="text-center">
                                <h4 class="">{{ derecho.titulo }}/h4>
                                {% set numComents = 0 %}
                                {% for seccion in derecho.secciones %}
                                {% set numComents = numComents + seccion.comentarios|length %}
                                {% endfor %}
                                <div class="btn btn-xs btn-default"><i class="mdi mdi-comment-multiple-outline"></i> {{ numComents }}</div>
                            </div>
                            <figcaption>
                                Haga clic para saber mas del derecho.
                            </figcaption>
                        </figure>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock body %} {# -------------------------------------------- #} {% block scripts %}
<script src="{{ baseUrl() }}/assets-lpe/js/masonry.pkgd.min.js"></script>
<script>
    $('.grid').masonry({
        // set itemSelector so .grid-sizer is not used in layout
        itemSelector: '.grid-item',
        // use element for option
        columnWidth: '.grid-sizer',
        percentPosition: true
    })
    $(function() {
  $('a[href="#derechos"]').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script> {% endblock scripts %}