$refRojo: #e9555d;
$refAzul: #003e5a;
$refGrey: #dcdde3;
$refCyan: #0abbbb;
$color1: #00405c;
$color2: #f1645d;
$color3: #e8555d;
$color4: #fda468;
$color5: #0abbbb;
$color6: #00405c;
$color7: #e8555d;
$color8: #ffd9b6;