@import "./bootstrap";
@import "../css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400,600,700,900');
* {
  margin: 0;
}

html,
body {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  font: 13px/20px 'Open Sans', Arial, Helvetica, sans-serif;
  line-height: 1.3;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -215px;
  /* the bottom margin is the negative value of the footer's height */
}

.push {
  height: 215px;
  /* .push must be the same height as .footer */
}

.footer {
  padding-top: 60px;
  height: 215px;
  // border-top: 50px solid #FFF;
  // margin-top: 80px;
  text-align: center;
  background-color: #363839;
}


/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/

.navbar-custom {
  // background: rgba(255, 255, 255, 0);
  background-color: #FFF;
  box-shadow: rgba(0,0,0,0.11765) 0px 1px 3px;
  font-family: "Raleway", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  border: none;
}

.navbar-custom a:focus {
  outline: none;
}

.navbar-custom .navbar-brand {
  color: white;
  height:auto;
  img{
    height:100px;
  }
  &.blanco{
    display:none;
  }
}

.navbar-custom .navbar-right{
    margin:0;
  }

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
}

.navbar-custom .navbar-nav {
  letter-spacing: 0px;
}

.navbar-custom .navbar-nav li a {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: #333;
  background: #f6f6f6;
  border:1px solid #dadada;
  border-bottom: 1px solid transparent;
  padding: 6px 30px;

}
.navbar-custom .navbar-nav li:first-child a {
  border-top: 1px solid transparent;
}

.navbar-custom .navbar-collapse {
  padding: 0
}
.navbar-custom .navbar-nav li a:hover {
  color: #333;
  outline: none;
}

.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: 333;
}

.navbar-custom .navbar-nav li.active a {
  color: 333;
  background: #18BC9C;
}

.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #18BC9C;
}

.navbar-custom .navbar-toggle {
  color:#ccc;
  font-size: 10px;
  border:0;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  
  background-color: #fff;
  // color: white;
  // border-color: #18BC9C;
}

@media (min-width: 768px) {
  .navbar-custom {
    background-color: rgba(0,0,0,0);
    box-shadow:none;
    padding: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    a {
      padding: 0;
    }
    img {
      height: 125px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    &.negro {
      display: none;
    }
    &.blanco {
      display: block;
    }
  }
  .navbar-custom .navbar-right {
    display: none;
  }
  .navbar-custom.affix {
    padding: 0;
    height: 65px;
    background: #FFF;
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 3px;
  }
  .navbar-custom.affix .navbar-brand a {
    padding: 0;
    &:hover {
      color: #c10000;
      text-decoration: none;
    }
  }
  .navbar-custom.affix .navbar-brand img {
    height: 55px;
  }
  .navbar-custom.affix .navbar-right {
    display: block;
    font-size: 14px;
    a {
      color: #333;
      height: 65px;
      line-height: 65px;
    padding-top: 0;
    padding-bottom: 0;
    &:hover {
      color: #c10000;
      text-decoration: none;
    }
    &:focus {
       color: #333;
    }
    }
  }
  .navbar-custom.affix .navbar-brand.negro {
    display: block;
    padding: 6px;
  }
  .navbar-custom.affix .navbar-brand.blanco {
    display: none;
  }
    .navbar-custom.affix .navbar-nav li a {
    font-family: 'Raleway'; 
    color: #333;
    background: transparent;
    border:0;
    padding: 0;
    padding-right: 35px;
  }
  .navbar-custom.affix .navbar-nav li:last-child a {
    padding-right: 0;
  }
}

// ====================================
header.titulo {
    padding:140px 0 0;
    img.medios{
      padding-top:15px;
    }
  @media (min-width: 768px) {
  padding:40px 0 0;
  img.medios{
    padding-top:50px
  }
  }
  background-color: #80cbfc;
  
}
p{
  font-size: 16px;
  margin-bottom: 20px;
}
.introParticipacion {
  background-color: #FFFFFF;
  padding:30px;
}
.listadoEjes{
  .parent {
    display: table;
    table-layout: fixed;
}

.child {
  margin-bottom: 10px;
  @media (min-width: $screen-md-min) {
    margin-bottom: 0;
    display: table-cell;
    float: none;
    vertical-align: middle;
  }
    p{
      margin: 0;
    }
    h1.grande{
      font-size:40px;
    @media (min-width: 768px) {
      font-size:50px;
    }  
  }
}

  .ejeIntro{
    padding: 15px;
    border-bottom: 10px solid #FFF;
  }
  .eje1{background-color:#bfe0ff}
  .eje2{background-color:#e5dd95}
  .eje3{background-color:#ffcfcf}
  .eje4{background-color:#dee9a5}
  .eje5{background-color:#a5e8d7}
  .eje6{background-color:#a5dae8}
  .eje7{background-color:#bfd3f6}
  .eje8{background-color:#cac2f1}
}
header.eje1 {
  background-color: #bfe0ff;
  height: 470px;
}

header.titulo4 {
  background-color: #f012a2;
  height: 470px;
}

.footer {
  h1 {
    font-weight: 900;
        word-break: break-all;
        font-size:25px;
    @media (min-width: $screen-sm-min) {
    
    font-size: 50px;
  }

  }
  a {
    color: #BFBFBF;
    &:hover {
      color: #c10000;
      text-decoration: none;
    }
  }
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
  &.grande{
    font-size: 50px;
  }
  &.black{
     font-weight: 900;
  }
  &.semibold  {
     font-weight: 600;
  }
    &.bold{
     font-weight: 600;
  }
  &.blanco{
    color:#FFF;
  }
  &.gris{
    color: #333;
  }
}

.btn.btn-participar{
  background-color: #c40202;
  color: #FFF;
  font-size: 18px;
  font-family: "Raleway";
  font-weight: 900;
  padding: 25px 25px;
  border-radius: 10px;
}

.registro-panel{
  padding:30px;
}
.registro-panel .btn.btn-red{
  background-color: #c40202;
    color: #FFF;
    font-size: 18px;
    font-family: "Raleway";
    font-weight: 900;
}

.ui-datepicker .ui-datepicker-title select{
  color: #000;
}

.introParticipacion .btn-red{
      font-family: "Raleway";
    font-weight: 700;
      background-color: #c40202;
    color: #FFF;
}


