{% extends "lpe/master.twig" %} {# ----------------------------------------------------------- #} {% block titulo %}Inicio{% endblock %} {% block body %}
<form id="modificarInicio" class="form-horizontal">
    <div class="container" style="margin-bottom:40px">
        <div class="row">
            <div class="col-xs-12 text-center">
                <textarea name="titulo" rows="1" class="form-control" placeholder="Titulo inicial"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
                <textarea name="descripcion" rows="2" class="form-control" placeholder="Descripcion inicial"></textarea>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h4><b>Videos del carrousel</b></h4>
                <div class="alert alert-dismissible alert-info text-center">
                    Debe colocar el codigo que aparece en la URL del video, luego de la porcion <code>?v=</code>. Por ejemplo, de <i>https://www.youtube.com/watch?v=Mtf7pocKg-E</i> la porcion seria <code>Mtf7pocKg-E</code>
                </div>
                <div class="lista-videos">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-youtube-play zmdi-hc-lg"></i></span>
                            <input name="videoID-1" class="form-control" placeholder="Ej: Mtf7pocKg-E" type="text">
                        </div>
                    </div>
                </div>
                <a id="nuevoVideo" href="javascript:void(0)" class="btn btn-default btn-block"><i class="zmdi zmdi-plus zmdi-hc-lg"></i> Agregar video</a>
                <hr>
                <div class="clearfix">

                <a class="btn btn-link pull-left">Cancelar</a>
                <button class="btn btn-primary btn-lg pull-right">Guardar cambios</button>
                
                </div>
            </div>
        </div>
    </div>
</form>




{% endblock body %} {# -------------------------------------------- #} {% block scripts %}
<script src="{{ baseUrl() }}/assets-lpe/js/masonry.pkgd.min.js"></script>
<script src="{{ baseUrl() }}/assets-lpe/js/autosize.min.js"></script>
<script id="videoTemplate" type="text/template">
    <div class="form-group videoid-container">
        <div class="input-group">
            <span class="input-group-addon"><i class="zmdi zmdi-youtube-play zmdi-hc-lg"></i></span>
            <input name="videoID-numVideo" class="form-control" placeholder="Ej: Mtf7pocKg-E" type="text">
            <span class="input-group-btn">
      <a id="eliminar-numVideo" href="javascript:void(0)" data-idvideo='numVideo' class="eliminarVideo btn btn-danger">
          <i class="zmdi zmdi-close zmdi-hc-lg"></i>
          </a>
    </span>
        </div>
    </div>
</script>
<script>
    var numeroVideo = 2;
    $(document).ready(function() {
        autosize($('textarea'));
    });

    $("#nuevoVideo").click(function(e) {
        var nuevoVideo = $("#videoTemplate").html().replace(new RegExp('numVideo', 'g'), numeroVideo);
        $(".lista-videos").append(nuevoVideo)
        numeroVideo += 1
    });
    $(document.body).on('click', '.eliminarVideo', function() {
        var i = $(this).data('idvideo') + 1
        $(this).closest(".videoid-container").remove();
        for (; i <= numeroVideo + 1; i++) {
            $('#eliminar-' + i).attr('data-idvideo', (i - 1)).attr('id', "eliminar-" + (i - 1));;
            $("input[name='videoID-" + i + "']").attr('name', "videoID-" + (i - 1))
        }
        numeroVideo -= 1;
    });
    var eliminarVideo = function(e) {
        $(this).closest(".li-video").remove();
    }
</script> {% endblock scripts %}