{% extends "lpe/master.twig" %} {# ----------------------------------------------------------- #} {% block titulo %}Inicio{% endblock %} {% block body %}
<div class="container" style=" ">
    <div class="row">
        <div class="col-xs-12  col-sm-8 col-sm-offset-2">
            <div class="text-center">
                <h2 class="text-center"><strong>Participantes</strong>
        <a href="#" class="btn-warning btn"><i class="zmdi zmdi-plus zmdi-hc-lg"></i></a>
        </h2>
                <br>
            </div>
            <div class="list-group">
                {% if participantes|length > 0%}
                {% for participante in participantes %}
                <li class="list-group-item">
                    <div class="pull-right text-center">
                        <a href="#" class="btn btn-warning"><i class="zmdi zmdi-edit zmdi-hc-lg"></i></a>
                    </div>
                    <h4><strong><i class="zmdi zmdi-accounts-list-alt zmdi-hc-lg zmdi-hc-fw"></i> {{ participante.nombre}}</strong></h4>
                </li>
                {% endfor %}
                {% else%}
                <li class="list-group-item">
                    <h6>No hay participantes...</h6>
                </li>
              {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock body %} {# -------------------------------------------- #} {% block scripts %}
<script>
</script> {% endblock scripts %}